/* Global resets and classes */

/* Modal Form */

/* Header: logo */

/* Header geometry */

/* Header navigation */

/* Header: contacts */

/* Hero, bgc temporary */

/* Why us */

/* What we do */

/* Our team */

/* SOCIAL NETWORKS */

/* Clients */

/* Footer */

/* Footer parameters */

/* Footer address geometry*/

/* Footer logo */

/* Footer address, mail, phone */

/* Footer social networks */

/* Footer Form */

/* PORTFOLIO */

/* Examples of our works:buttons */
.buttons {
  display: flex;
  justify-content: center;
}

.buttons-geometry {
  margin-bottom: 50px;
  padding-right: -8px;
}

.buttons__content:not(:last-child):not(:last-child) {
  padding-right: 8px;
}

.buttons__portfolio-button {
  padding: 6px 22px;
  border-radius: 4px;
  border: 1px solid transparent;
  color: var(--title-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
}

.buttons__portfolio-button:hover,
.buttons__portfolio-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: color var(--duration) var(--speed),
    background-color var(--duration) var(--speed),
    box-shadow var(--duration) var(--speed);
}
.buttons__portfolio-button--current {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* part with pics */
.products {
  display: flex;
  flex-wrap: wrap;
}

.products__item {
  flex-basis: calc((100% - 60px) / 3);
  background-color: var(--primary-white-color);
}

.products__item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.products__item:not(:nth-child(3n + 3)) {
  margin-right: 30px;
}

.products__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.products__content {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.products__overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  opacity: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform var(--duration) var(--speed),
    opacity var(--duration) var(--speed);
}

.products__link:hover .products__overlay,
.products__link:focus .products__overlay {
  transform: translateY(0%);
  transition: transform var(--duration) var(--speed),
    opacity var(--duration) var(--speed);
  opacity: 1;
}
.products__link {
  display: block;
  text-decoration: none;
  color: inherit;
}

/* Examples of our works: content blocks */

.products__description {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.products__name {
  color: var(--title-text-color);
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.products__example {
  font-size: 16px;
  line-height: 1.87;
}
