.address__google-maps:hover,
.address__google-maps:focus,
.address__virtual-link:hover,
.address__virtual-link:focus {
  color: var(--accent-color);
  transition: color var(--duration) var(--speed);
}
.address__google-maps {
  color: var(--primary-white-color);
}
.address__virtual-link {
  color: rgba(255, 255, 255, 0.6);
}

.address__map {
  margin-bottom: 9px;
}

.address__email {
  margin-bottom: 9px;
}

.address__google-maps,
.address__virtual-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}
